* {
    margin-left: auto;
    margin-right: auto;
}

.zone-target {
    display: flex;
}

.drop-target {
    width: 200px;
    height: 200px;
    border: 1px solid #aaaaaa;
}

img {
    width: 100px;
    height: 100px;
}

.container * {
    margin: auto;
}

.images img, p {
    padding-left: 10px;
}